/*Navigation Bar for Home page - Jitesh & Meet*/
.Navbar {
  background-color: rgba(255, 255, 255, 255);
  height: 150px;
  display: flex;
  justify-content: flex-start;
  margin-left: 5vw;
  margin-right: 5vw;
  align-items: center;
  font-size: 1.2rem;
  /* position: fixed; */
  /* top: 20; */
  z-index: 999;
}

.navbar-container {
  /* position: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  justify-self: start;
  font-family: Noteworthy;
    margin-top: 30px;
    margin-left: 2vw;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000;
    display: flex;
    align-items: center;

}

.Nav-Right-parent{
    position: relative;
}

.Nav-Right{
  /* position: absolute; */
  /* left: 5rem; */
  margin-left: 100%;
  margin-top: 3rem;
  display: inline-flex;
  justify-content: flex-end;
}


.join-btn {
  float: right;
  display: inline-block;
width: 100px;
height:30px;
border-radius: 21px;
margin-top: auto;
background: #fff;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
align-content: center;
text-align: center;
margin: auto;
font-family: Poppins;
font-weight: bold;
font-size: 17px;
color: #000;
	transition: box-shadow 20ms;
}

Link{
  text-decoration: none;
}

.join-btn:hover {
  border: thin;
	border-color: #EF0003;
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.13);
  z-index: 99;
}


SearchBox{
  margin-top: 900px;
}

.Profile-Button{

  width: 190px;
  display: inline-flex;
  justify-content: flex-start;
  padding: 0px 25px;
  font-size: 13px;
  cursor: pointer;
}

.Profile-Pic{
  width: 44px;
  height: 44px;
  margin-top: -5px;
  border-radius: 34px;
  /* background: url(...); */
  border: 1px solid rgba(0, 0, 0, 0.24);
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.64));
  display: inline-block;
}

.Name {
  padding-top: 10px;
  margin-right: 10px;
  font-family: "SF Pro";
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  color: #000;

}


.upload-btn{
  background-color: white;
  display: inline;
  width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
  padding-top: 10px;
  color: white;
	background-color: #037e8c;
}
.icon-color-upload{
  color: white;
}
.upload-btn:hover{
    	background-color: #13c0e5;
      box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.16);
      color: white;
}

