.profile{
    margin: 2px;
    padding: 5px;
    /* height: 98vh; */
    border-bottom-left-radius:50px ;
    border-top-right-radius:50px ;
    /* background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSS3M5p-bx8Sz4ee-h4NNmbyxqM8LYetcCf7A&usqp=CAU') no-repeat center center/cover; */
  
  }
  .photobox{
    margin-left: 50% ;
    margin-top: 2rem;
    transform: translateX(-50%);
  }
  .bio{
    width: 100%;
    /* height: 25%;  */
    padding-bottom: 18px;
    /* display: flex;
    flex-direction: row;   */
    border-top-right-radius:50px ;
    /* background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSS3M5p-bx8Sz4ee-h4NNmbyxqM8LYetcCf7A&usqp=CAU') no-repeat center center/cover; */
  }

  .bionibaju{
    margin-left: 50%;
    font-weight: bold;
    transform: translateX(-55%);
  }

  .content-center-dashboard{
    text-align: center;
  }

  .bionibaju > h1{
    scale: 1.15;
    /* padding-left: -20px; */
    /* margin-top: 35px; */
    padding-bottom: 5px;
  }
  /* .dummy{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    color: rgb(46, 32, 19);
  } */
  .bioicon{
    margin:20px;
    display: inline;
    /* width: 200px; */
  }
  .biobottom{
    /* background-color: #bdbdbd; */
    padding-top: 5px;
    font-weight: bolder;
    /* background-color: rgb(162, 162, 162); */
    /* height: 75vh; */
    /* width: 25%; */
    margin-top: 20rem;
    /* margin-left: 50%;
    transform: translateX(-70%); */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border-radius: 20px; */
  }
  .data{
    margin: 20px 0px 20px 0px;
    display: inline-block;
  }
  .main_card{
    /* box-shadow: 2px 2px 2rem black; */
    /* width: 90%; */
    /* margin-left: 50%;
    transform: translateX(-50%); */
    border-radius: 20px;
    background-color:whitesmoke;
  }
  a {
    font-size: 22px;
    /* color: rgb(255, 255, 255); */
    text-decoration: none;
  }
  .profilebutton{
    /* font-weight: bold; */
    width: 100%;
    margin-left: 50%;
    transform: translateX(-25%);
    background-color:white;
    color: black;
    border-radius: 15px;
    padding: 10px;
    margin: 0px 10rem;
    border: 2px solid black;
  }

  .profilebutton:hover{
    box-shadow: 2px 2px 2rem black;
  }